#
####### requirements.txt ###################
#
# for Arctica-Microbiome-Analysis
# Python 3.6

###### Requirements without version specifiers
# None yet

###### Requirements with version specifiers
numpy==1.13.3
scipy==0.19.1
pandas==0.20.3
xlrd==1.1.0
networkx==2.0
matplotlib==2.1.0
rpy2==2.9.0

